.headers{height: 15%;background-color: blue;width: 100%;}
.texts{height: 85%;background-color: aqua;display: block;float: left;width: 50%;}
.images{height: 85%;display: block;float: right;width: 50%;}